.container__small-card{
  width: 100%;
  max-width: calc(100% - 30px);
  margin: 15px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  max-width: 190px;
  margin-right: 20px;
  height: 190px;
  max-height: 190px;
}

.small-card__title > h1 {
  font-size: 1.5rem;
}

.container__small-card__separator{
  margin-top: 10px;
}

.small-card__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-height: 190px;
  overflow: hidden;
}

.small-card__description {
  color: #c9c9c9;
  font-weight: 500;
}

.small-card__more {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: end;
  box-shadow: 0 -8px 23px 12px #111111;
}

.small-card__description:hover .small-card__more {
  display: block;
}