.container__articles {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container__articles .title {
  margin-bottom: 20px;
  margin-left: 15px;
}

.articles__main {
  width: 100%;
}
