<app-menu-title></app-menu-title>

<div class="container__articles">
  <h1 class="title">Events</h1>
  <div class="articles__main">
    <app-big-card
      [id]="firstEvent.id"
      [photoCover]="firstEvent.imgSrc"
      [cardTitle]="firstEvent.title"
      [cardDescription]="firstEvent.description"
      >
    </app-big-card>

  </div>
  <div class="articles__right">
    <div *ngFor="let event of getEventsByRange(1, 3)">
      <app-small-card
        [id]="event.id"
        [photoCover]="event.imgSrc"
        [cardTitle]="event.title"
        [cardDescription]="event.description"
        router="event"
      >
      </app-small-card>
    </div>
  </div>
  <div class="articles__others">
    <div *ngFor="let event of getEventsByRange(4)">
      <app-small-card
        [id]="event.id"
        [photoCover]="event.imgSrc"
        [cardTitle]="event.title"
        [cardDescription]="event.description"
        router="event"
      >
      </app-small-card>
    </div>
  </div>

  <button type="button" class="btn btn-dark" (click)="loadMore()"> Load More </button>
</div>

